.user{
    height: 100%;
    padding: 37px 25px;

    &_head{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &_detail {
        text-align: left;
    }

    &_title {
        margin: 0;
        font-weight: 400;
        font-size: 2rem;
    }

    &_subtitle{
        margin-top: 0;
        font-weight: 300;
    }

    &_subtitle a{
       text-decoration: none;
       color: #000000;
       cursor: pointer;
    }

    &_img {
        width: 85px;
        height: 85px;
        object-fit: cover;
        border-radius: 7px;
    }

    &_list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin: 0;
        margin-top: 22px;

        &_details {
            border-bottom: 1px solid rgb(216, 216, 216);
            width: 100%;
            text-align: left;

            h4{
                margin-bottom: 0;
                font-weight: 500;
            }
            p{
                margin: 4px 0px 12px;
                font-weight: 300;
            }
            a{
                text-decoration: none;
                color: #000000;
            }
        }
    }
}

.go-back {
    width: 414px;
    height: 25px;
    text-align: start;
    padding: 20px 0 0 20px;
}