.search-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .form-search {
        display: grid;
        width: 90%;
        justify-items: center;
        justify-content: center;
        align-items: center;
        margin-left: 20px;

        &_big {
            grid-column: 1 / 3;
            grid-row: 1;
            width: 100%;
            background-color: #efefef89;
            margin-bottom: 20px;

            .search-big {
                width: 290px;
                height: 30px;
                position: relative;
                padding: 5px  8px 5px 35px;
                border: none;
                background-color: transparent;
                color: rgb(0 0 0);
                opacity: 80%;
            }

            .search-bimg {
                position: absolute;
                z-index: 1;
                margin: 11px;
            }
        }

        &_div {
            width: 160px;
            height: 40px;
            padding: 12px 5px;
            display: flex;
            background-color: #efefef89;
            border-radius: 3px;
            color: rgb(0 0 0);
            align-items: center;
            margin: 10px;
        
            .search-input {
                width: 100%;
                margin-left: 15px;
                position: relative;
                padding: 5px  8px 5px 35px;
                border: none;
                background-color: transparent;
                color: rgb(0 0 0);
                opacity: 80%;
            }

            .search-img {
                position: absolute;
                z-index: 1;
                margin: 11px;
            }
        }
        
        .search-button {
                width: 170px;
                height: 60px;
                border: none;
                background-color: rgb(246 143 3);
                color: rgb(255 255 255);
                border-radius: 4px;
                margin: 11px;
            }
    }
}