@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;500&family=Noto+Sans&display=swap');

.content {
    position : absolute;
    background-color: white;
    width: 414px;
    z-index : 33;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .cal-img {
        margin-left: 25px;
    }
}

.calendar-container {
    max-height: 700px;
    overflow-y: scroll ;
}


.react-calendar {
    margin: 20px 20px 80px 20px;

    .react-calendar__navigation button {
        border: none;
        background-color: transparent;
        font-family: 'Noto Sans', sans-serif;
        font-size: 17px;
    }

    &__navigation__arrow {
        opacity: 0;
    }

    &__month-view__weekdays {
        margin: 9px 0;

        abbr {
            text-decoration: none;
            font-family: 'Noto Sans', sans-serif;
            font-weight: bolder;
        }
        
    }

    &__navigation__label__labelText {
        font-family: 'Catamaran', sans-serif; 
        font-size: 23px;
        letter-spacing: -1px;
    }

    &__tile{
        border: none;
        background-color: transparent;
        margin: 9px 0;
        font-family: 'Noto Sans', sans-serif;
        font-weight: bolder;
        font-size: 17px;
        width: 40px;
        height: 50px;
    }

    .react-calendar__tile.selected {
        background-color: rgb(254 176 48);
        border-radius: 50%;
        color: white;
      }
}

.btn-div {
    background-color: transparent;

    .calendar_btnEnd {
        margin: 20px 0 80px 0;
        width: 250px;
        height: 50px;
        border-radius: 3px;
        border: none;
        background-color: rgb(246 143 36);
        color: white;
        font-family: 'Noto Sans', sans-serif;
        font-weight: bolder;
        font-size: 17px;
        letter-spacing: 1px;
    }
}

