
.configuracionContainer{
    
    height: 101px;
    background-color: rgb(246, 143, 36);
    margin-top: 0;
    

}

.configuracionTitulo{
    width: 45%;
    color: white;
    font-family: Noto Sans;
    font-size: 18px;
    padding-left: 20px;
}

.continuar{
    width: 20%;
    height: 20%;
    padding-top: 10px;
}

.describe{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    width: 85%;
    margin: 0 auto;
}

.describe__options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;

    
}

.items__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.categoria{
    text-align: left;
    padding-left: 30px;
}

.categoria--negrita{
    font-weight: 600;
}

.input{
    width: 85%;
    margin: 0 auto;
    height: 0;
}

.subInput{
    width: 85%;
    margin: 0 auto;
    height: 10px;
    border-style: none;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid rgb(198, 198, 198);
    outline: none;
    font-family: Noto Sans;
    font-size:12px;
    color: rgb(92, 92, 92);
}

.inputComponente{
    width: 85%;
    height: 25px;
    border-style: none;
    border: none;
    border-bottom: 1px solid rgb(198, 198, 198);
    outline: none;
    font-family: Noto Sans;
    font-size:12px;
    color: rgb(92, 92, 92);
}

