
.tusanuncios{
    font-family: Noto Sans;
    font-size: 26px;
    font-weight: 500;    
    text-align: left;
    padding-left: 30px;
}


.addEspacio{
    border-bottom: 1px solid rgb(198, 198, 198);
    width: 90%;
    margin: 0 auto;

}


.addEspacio__texto{
    font-family:Noto Sans;
    text-align: left;
    padding-left: 10px;
}

.masIcon{
    width: 5%;
    display: block;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: auto;
   
   
}

